<app-header></app-header>
<div class="row">
	<div class="col-md-9">
		<h3>Información</h3>
		<dl class="dl-horizontal">
			<dt>Nombre:</dt>
			<dd>{{nombre}}</dd>
			<dt>Apellido:</dt>
			<dd>{{apellidos}}</dd>
			<dt>Correo:</dt>
			<dd>{{email}}</dd>
			<dt>Telefono:</dt>
			<dd>{{telefono}}</dd>
			<dt>Calificación:</dt>
			<dd>{{calificacion}}</dd>
			<dt>Fehca:</dt>
			<dd>{{fecha}}</dd>
			<dt>RFC:</dt>
			<dd>{{rfc}}</dd>
		</dl>
	</div>
	<div class="col-md-3">
		<h3>Saldo: ${{saldo}}</h3>
	</div>
	
</div>

<app-footer></app-footer>